<div class="welcome">
  <h1>Welcome, <%= current_user.username%></h1>
</div>

<div id="your_surveys">
  <h2>Your surveys</h2>
  <ul id="surveys">
  <% @user_surveys.each do |survey| %>
    <li><a href="/survey/<%= survey.id%>"><%=survey.name%></a></li>
  <% end %>
  </ul>
</div>

<div id="others_surveys">
  <h2>Popular surveys</h2>
  <ul>
  <% @all_surveys.each do |survey|%>
    <li><a href="/survey/<%= survey.id%>"><%=survey.name%> - <%= User.find(survey.user_id).username %></a></li>
  <% end %>
  </ul>
</div>


<div class="btn-toolbar">
  <a class="btn" href='/logout'><i class="ico n-user"></i>Log out</a>
</div>


<div>
<a id="create_survey" class="btn btn-primary" href="/survey/new">Create a survey</a>
<div>



