<div>
  <h3>Welcome, <%= current_user.username%></h3>
</div>

<div>
  <a id="create_survey" href="/survey/new">Create a survey</a>
</div>

<div id="your_surveys">
  Your surveys
  <ul id="surveys">
  <% @user_surveys.each do |survey| %>
    <li><a href=""><%=survey.name%></a></li>
  <% end %>
  </ul>
</div>

<div id="others_surveys">
  Popular surveys
  <ul>
  <% @all_surveys.each do |survey|%>
    <li><a href=""><%=survey.name%> - <%= User.find(survey.user_id).username %></a></li>
  <% end %>
  </ul>
</div>


<div class="btn-toolbar">
  <a class="btn" href='/logout'><i class="ico n-user"></i>Log out</a>
</div>

<div id="question">
  <%= erb :_create_qa, layout: false %>
</div>

