
<h1>Statistics for <%= @current_survey.name %></h1>

<div id="stats">
<% @current_survey.questions.each do |question| %>

  <div>
    <div id="<%=question.title%>" style="width: 250px; height: 250px; display: inline-block; "></div>
    <span class="q_title">Question: <%= question.title %> </span>
  </div>

  <script type="text/javascript">
    Morris.Donut({
      element: '<%=question.title%>',
      data: <%= get_question_breakdown(question) %>
    });
  </script>


<% end %>

</div>
