<div id="view_survey">
  <h3><%= @current_survey.name %></h3>
  <ol>
  <% @current_survey.questions.each do |question| %>
   <li><%= question.title%></li>
   
      <% question.choices.each do |choice| %>
        <label class="radio">
         <input type="radio" name="<%= question.title%>" value="choice[:<%= choice.option%>]"><%= choice.option%>
       </label>
     <% end %>
   
  <% end %>
  </ol>
</div>

<form action="/survey/<%= @current_survey.id %>/submit" method="post">
  <button class="btn btn-success">Submit</button>
</form>